{% extends 'dh5bp/base.html' %}
{% load url from future %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/additional.css" %}">
{% endblock %}
{% block content %}
    <header>
    <h2>C++ Regex Tester</h2>
    </header>

    <regex>
    <input class="style-1" type="text" name="regex_input" placeholder="regular exrepssion" value="{{ regular_expression }}"/>
    </regex>

    <matchbutton>
    <button>match</button>
    </matchbutton>

    <result>
            {% if matches  %}
            matches:<br />
                {% for match in matches %}
                    <p>{{ match }}</p>
                {% endfor %}
            {% else %}
                <p>No matches.</p>
            {% endif %}
    </result>

    <footer>
    Copyright Piotr Cygan 2015
    </footer>



{% endblock %}





</body>
</html>

