body {
    background-color:#BBBBBB;
    color:#5797E9;
    font: bold 18px sans-serif;
}

header {
    background-color: #292c2f;
    padding: 5px 5px 5px 5px;
    text-align:center;
}

matchbutton {
    padding: 5px 5px 5px 5px;
    height:98%;
    width:23%;
    float:left;
    text-align:center;
}

result {
    padding: 5px 5px 5px 5px;
    width:73%;
    height:98%;
    float:left;     
}

regex {
    padding: 5px 5px 5px 5px;
    width:73%;
    height:98%;
    float:left;     
}

footer{
    position: fixed;
    bottom: 0;

    background-color: #292c2f;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: center;

    padding: 1% 1%;
    margin-top: 80px;
    overflow: hidden;
}

p {
    background-color: #EAEAEA;
    border-radius: 10px;
    padding: 5px;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  appearance: none;
  box-shadow: none;
  border-radius: 10px;
  padding: 5px;
  border: solid 2px #292c2f;
  background-color: #EAEAEA;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:hover,
input[type="text"].hover {
  outline: none;  
  border: solid 2px #292c2f;
  box-shadow: 0 0 10px 2px #5797E9;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0px 30px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border: solid 2px #292c2f;
  border-radius: 10px;
  background-color: #6496c8;
  color: #fff;
  text-shadow: -1px 1px #417cb8;
  border: solid 2px #292c2f;
}

button:hover,
button.hover {
  outline: none;  
  border: solid 2px #292c2f;
  box-shadow: 0 0 10px 2px #5797E9;
}

button:active,
button.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

button:focus {
  outline: none
}